<tr>
  <td><%= reader.first_name %></td>
  <td><%= reader.last_name %></td>
  <td><%= reader.middle_name %></td>
  <td><%= reader.home_address %></td>
  <td><%= reader.home_phone %></td>
  <td><%= reader.work_phone %></td>
</tr>
